@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* GLOBAL */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.main-heading {
    color: rgb(255, 0, 51);
    font-size: 3.5em;
    font-weight: bold;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.footer {
    min-height: 30px;
    background-color: rgba(0, 0, 0, .5);
    justify-content: flex-end;
    text-align: left;
    padding: 10px;
    color: lightgray;
}

/*Styles Show*/
body.show {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../show/img/img-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/*  -- Index.html - HzPK crew */

.column {
    float: left;
    width: 33.3%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.zoom {
    padding: 10px;
    background-color: transparent;
    transition: transform .4s;
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
}

.zoom:hover {
    transform: scale(1.1);
}

div.moto {
    font-size: 2em;
    font-weight: bold;
    padding: 45px;
    color: lightgray;
}

.img-index:hover {
    background: rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    transform: scale(1.05);
}

.img-index {
    transition: transform 1s;
}

.zoom a div {
    color: white;
}

.zoom a img {
    width: 80%;
}

.column a img {
    width: 50%;
}

@media screen and (max-width: 750px) {
    .img-index {
        display: none;
    }

    div.moto {
        padding: 10px;
        font-size: 1.5em;
    }

    .youtube {
        font-size: 1em;
    }

    .main-heading {
        font-size: 2.5em;
    }

    .zoom {
        font-size: 1em;
    }

    .zoom a img {
        width: 100%;
    }

    .column {
        width: 60%;
        float: none;
        margin: auto;
    }
}


/*  -- Download.html  */

.down-list {
    list-style-type: disc;
    margin-left: 25px;
    color: white;
    text-align: left;
    max-width: fit-content;
}

.down-list li a {
    color: aqua;
    cursor: pointer;
}

.socials {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    color: #333333;
}

.socials a {
    color: rgb(105, 105, 105);
}

form label {
    color: lightgray;
    padding: 5px;
}

.labelTucne {
    font-weight: bold;
    margin-top: 50px;
}

form {
    width: 320px;
    text-align: left;
    margin: auto;
}

input[type=submit] {
    margin-top: 10px;

}

/*Styles Mc*/
/* -- MC */
body.mc {
    background-color: black;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(../mc/img/img-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-position: center;
}

/* -- Players GRID */
.players-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(300px, 400px));
    grid-template-rows: repeat(3, minmax(150px, auto));
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.player {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 10px;
}

.player img {
    float: left;
    width: 130px;
    border-radius: 5px;
    margin-right: 15px;
}

.name-mc {
    color: lightgray;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
}

.popis-mc {
    color: lightgray;
    text-align: left;
    font-size: 1.25em;


}

img#dynmap-screen {
    width: 1200px;
}

@media screen and (max-width:1200px) {
    .players-grid {
        grid-template-columns: repeat(2, minmax(300px, 400px));
        max-width: 850px;
    }

    img#dynmap-screen {
        width: 95%;
    }
}

@media screen and (max-width:850px) {
    .players-grid {
        grid-template-columns: repeat(1, minmax(300px, 400px));
        max-width: 410px;
    }

}

.nap-tab {
    margin: auto;
    max-width: 1200px;
    color: white;
    border-collapse: collapse;
    text-align: left;
    background: black;
}

.nap-tab tr td {
    border: 1px white solid;
    padding: 8px;
}

.nap-tab tr th {
    padding: 15px;
    border: 1px white solid;
}


/* ScrollBar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #585858;
}

::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46);
}


/* Čáry */

hr.hzpk {
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
}

hr.menu {
    border: 2px solid gray;
    width: 25%;
}


/* REWORK menu */

ul.menu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    max-width: fit-content;
}

@media screen and (max-width: 650px) {
    ul.menu {
        flex-direction: column;
        max-width: 95%;
    }

    ul.menu li {
        max-width: 100%;
    }
}

ul.menu li {
    padding: 12px;
    transition: transform .1s;
}

ul.menu li:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

a.menu {
    color: aqua;
}

a.menu-cw {
    color: orange;
}

a.menu-domu {
    color: lightslategray;
}

.current-page {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}

/* Univerzální */


.clanek {
    color: rgb(233, 233, 233);
    font-size: 1.5em;
    width: 85%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px;
    border-radius: 8px;
    text-align: justify;
}

.nadpis {
    color: lightgray;
}

.info {
    float: right;
    color: #c2c2c2;
    font-weight: 500;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
}


/* Odkazy */

a.odkaz {
    color: rgb(131, 188, 190);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}