@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
  * {
    box-sizing: border-box;
  }
  body {
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/img-background.png);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
  div.server-hzpk {
    color: rgba(255, 0, 51, 0.6);
    font-size: 65px;
    font-weight: bold;
  }
  hr.hzpk {
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  table.menu {
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    margin: auto;
    }
  td {
    padding: 10px;
  }
  a.menu {
    color: aqua;
  }
  a.menu-domu {
    color: lightslategray;
  }
  td:nth-child(2n) {
    padding: 0px;
  }
  /*Index.html - row*/
  .current-page {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  .column {
    float: left;
    width: 33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }  
  .zoom {
    padding: 10px;
    background-color: transparent;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
  }
  .zoom:hover {
    transform: scale(1.1);
  }

  .local-down-list {
    list-style-type: disc;
    margin-left: 25px;
    color: white;
    text-align: left;
  }  
  .clanek {
    color: rgb(233, 233, 233);
    font-size: 25px;
    width: 75%;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 10px;
  }
  a.odkaz {
    color: rgb(131, 188, 190);
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  a.local-down-list {
    color: aqua;
  }