@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
/* GLOBAL */

  * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  hr.hzpk {
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  table.menu {
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    margin: auto;
  }
  .menu td {
    padding: 10px;
  }
  a.menu {
    color: aqua;
  }
  a.menu-cw {
    color: orange;
  }
  a.menu-domu {
    color: lightslategray;
  }
  td:nth-child(2n) {
    padding: 0px;
  }
  .current-page {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }  
  .clanek {
    color: rgb(233, 233, 233);
    font-size: 25px;
    width: 75%;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 15px;
    border-radius: 10px;
  }
  .nadpis {
    font-size: 40px;
    color: lightgray;
  }
  .info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: #7c0000;
  }
  
  /* Odkazy */
  a.odkaz {
    color: rgb(131, 188, 190);
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
