@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
/* GLOBAL */

  * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-color: black;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/img-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
  .main-heading {
    color: rgb(255, 0, 51);
    font-size: 3.5em;
    font-weight: bold;
    width: 50%;
    margin: auto;
  }
  hr.hzpk {
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  table.menu {
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    margin: auto;
  }