* {
    box-sizing: border-box;
    margin: 0;
}

.menu {
    max-width: 960px;
    background: gray;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.menu a {
    color: #fff;
    font-size: 120%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .menu {
        flex-direction: row;
        justify-content: space-between;
    }
    .links {
        flex-direction: row;
    }
}