* {
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    max-width: 1000px;
    display: grid;
    background: #777;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: repeat(5, 150px);
    gap: 10px;
    margin: auto;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    background: chartreuse;
}

.item:nth-child(2) {
    background: coral;
}

.item:nth-child(3) {
    background: darkcyan;
}

.item:nth-child(4) {
    grid-column: 4/7;
    background: floralwhite;
}

.item:nth-child(5) {
    grid-row: 2/4;
    grid-column: 1/4;
    background: lightpink;
}

.item:nth-child(6) {
    grid-column: 4/7;
    background: lightsalmon;
}

.item:nth-child(7) {
    grid-column: 4/7;
    background: navy;
}

.item:nth-child(8) {
    grid-column: 1/7;
    background: olive;
}

.item:nth-child(9) {
    grid-column: 1/3;
    background: rebeccapurple;
}

.item:nth-child(10) {
    grid-column: 3/5;
    background: royalblue;
}

.item:nth-child(11) {
    grid-column: 5/7;
    background: slateblue;
}