.formular {
    border: 2px solid black;
    max-width: 350px;
    margin: auto;
}

.text-pole {
    border-radius: 50px;
    float: right;
    width: 150px;
}

.svetly {
    background-color: #eee;
    padding: 10px;
}

.tmavy {
    padding: 10px;
    background-color: #bbb;
}

.souhlas {
    text-align: center;
    font-weight: bold;
}

.odeslat {
    text-align: center;
}

.pohlavi {
    display: inline-block;
    vertical-align: middle;
    margin-left: 110px;
}