@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* GLOBAL */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* ScrollBar */

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Čáry */

hr.hzpk {
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
}

hr.menu {
    border: 2px solid gray;
    width: 25%;
}


/* REWORK menu */

nav.menu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: fit-content;
}

@media screen and (max-width: 650px) {
    nav.menu {
        flex-direction: column;
    }
}

nav.menu li {
    padding: 12px;
    transition: transform .1s;
}

nav.menu li:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

a.menu {
    color: aqua;
}

a.menu-cw {
    color: orange;
}

a.menu-domu {
    color: lightslategray;
}

.current-page {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}


/* Univerzální */

.clanek {
    color: rgb(233, 233, 233);
    font-size: 25px;
    width: 85%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 25px;
    border-radius: 10px;
}

.nadpis {
    font-size: 40px;
    color: lightgray;
}

.info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: #7c0000;
}


/* Odkazy */

a.odkaz {
    color: rgb(131, 188, 190);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}