@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
/* GLOBAL */

  * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-color: black;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/img-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
  .main-heading {
    color: rgb(255, 0, 51);
    font-size: 3.5em;
    font-weight: bold;
    width: 50%;
    margin: auto;
  }
  hr.hzpk {
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  table.menu {
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    margin: auto;
  }
  
  td {
    padding: 10px;
  }
  a.menu-cw {
    color: orange;
  }
  a.menu {
    color: aqua;
  }
  a.menu-domu {
    color: lightslategray;
  }
  td:nth-child(2n) {
    padding: 0px;
  }
  .current-page {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }  
  .clanek {
    color: rgb(233, 233, 233);
    font-size: 25px;
    width: 75%;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 15px;
    border-radius: 10px;
  }
  .nadpis {
    font-size: 40px;
    color: lightgray;
  }
  .info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: #7c0000;
  }
  
  /* Odkazy */
  a.odkaz {
    color: rgb(131, 188, 190);
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
  
  
  /*  Index.html - HzPK crew */
  .column {
    float: left;
    width: 33.3%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }  
  .zoom {
    padding: 10px;
    background-color: transparent;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
  }
  .zoom:hover {
    transform: scale(1.1);
  }
  div.moto {
    font-size: 2em;
    font-weight: bold;
    padding: 45px;
    color: lightgray;
  }


  /*  Download.html  */
  .local-down-list {
    list-style-type: disc;
    margin-left: 25px;
    color: white;
    text-align: left;
  }  
  a.local-down-list {
    color: aqua;
  }
  .ke-stazeni {
    font-size: 40px;
    color: lightgray;
    text-align: left;
    margin: 20px;
  }
  .socials {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    color: #333333;
  }
  .socials a {
    color: rgb(105, 105, 105);
  }