* {
    box-sizing: border-box;
}

#container {
    background: gray;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: repeat(4, minmax(50px, auto));
    gap: 5px;
}

.item {
    background: #111;
    color: #fff;
    border: #fff 1px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    grid-column: 1/4;
}

.item:nth-child(2) {
    grid-row: 2/5;
}

.item:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/5;
}

.item:nth-child(4) {
    grid-column: 1/4;
}

#obsah {
    width: 300px;
    height: 300px;
    background: chocolate;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px) {
    #container {
        display: block;
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(50px, auto));
        gap: 5px; */
    }
    .item {
        min-height: 50px;
    }
    /* .item:nth-child(1) {
        grid-column: unset;
    }
    .item:nth-child(2) {
        grid-row: unset;
    }
    .item:nth-child(3) {
        grid-column: unset;
        grid-row: unset;
    }
    .item:nth-child(4) {
        grid-column: unset;
    } */
}