/* GLOBAL */
 
  body {
    background-color: black;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/img-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
  .main-heading {
    color: rgb(255, 0, 51);
    font-size: 3.5em;
    font-weight: bold;
    width: 50%;
    margin: auto;
  }
