/* MC */
body.mc {
    background-color: black;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(../img/img-background.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-position: center;
}

/*Players GRID*/
.players-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(300px, 400px));
    grid-template-rows: repeat(3, minmax(150px, auto));
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.player {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 10px;
}

.player img {
    float: left;
    width: 130px;
    border-radius: 5px;
    margin-right: 25px;
}

.name-mc {
    color: lightgray;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
}

.popis-mc {
    color: lightgray;
    text-align: left;
    font-size: 1.25em;


}

img#dynmap-screen {
    width: 1200px;
}

@media screen and (max-width:1200px) {
    .players-grid {
        grid-template-columns: repeat(2, minmax(300px, 400px));
        max-width: 850px;
    }

    img#dynmap-screen {
        width: 95%;
    }
}

@media screen and (max-width:850px) {
    .players-grid {
        grid-template-columns: repeat(1, minmax(300px, 400px));
        max-width: 410px;
    }
    
}

.nap-tab {
    margin: auto;
    max-width: 1200px;
    color: white;
    border-collapse: collapse;
    text-align: left;
    background: black;
}
.nap-tab tr td {
    border: 1px white solid;
    padding: 8px;
}
.nap-tab tr th {
    padding: 15px;
    border: 1px white solid;
}
