body {
    box-sizing: border-box;
    background: lightblue;
}

.container {
    width: 400px;
    border-radius: 10px 10px 0 0;
    margin: auto;
}

.head {
    background: rgb(63, 156, 187);
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

h1,
h2 {
    margin: 0;
    color: white;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

.formular {
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.okolo {
    background: rgb(243, 243, 243);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.cislo {
    color: white;
    background: rgb(63, 156, 187);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    left: -10px;
    border: 2px white solid;
}

.nadpis {
    color: rgb(25, 121, 153);
}

label {
    font-size: 10px;
    color: rgb(94, 94, 94);
    font-family: Arial;
}

input[type=text],
input[type=email],
textarea {
    border: white 1px solid;
    border-radius: 5px;
    box-shadow: inset 1px 1px rgb(167, 167, 167);
    width: 100%;
}

.form-nadpis {
    padding-top: 10px;
}

.souhlas {
    position: relative;
    left: 90px;
}

input[type=submit] {
    background: rgb(63, 156, 187);
    border-radius: 5px;
    border: none;
    padding: 8px;
    margin: 20px;
}